button{
    margin: 40px;
    font-size: 20px;
    padding: 10px 20px;
    background-color: lightseagreen;
     color: white;
     font-weight: 60;
     border: 2px solid black;
    border-radius: 50px;

}

button:hover{
    background-color: black;
    color: white;
}