body{
    background-color: black;
}


#box1{
    height: 200px;
    width: 200px;
    background-color: red;
    border: 2px solid white;
    position: absolute;
    right: 50%;
    top:   50%;
    transform: translate(-50%,-50%);
    z-index: 9;
}

#box2{
    height: 200px;
    width: 200px;
    background-color: blue;
    border: 2px solid white;
     position: absolute;
    right: 40%;
    top:   50%;
    transform: translate(-50%,-50%);
    z-index: 5;
}