*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

body{
background-color:#4A70A9;
} 

nav{
    padding: 40px 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top:0;
    background: transparent;
    box-shadow: 0 10px 20px rgba(0, 0, 0,0.3);
    backdrop-filter: blur(10px);
    z-index: 999;
}

.lol{
    display: flex;
    align-items: center;
    gap:30px;
    list-style: none;
}

nav a{
    position: relative;
    font-size: 1.1em;
    font-weight: 500;
    color: #333;
    text-decoration: none;
    padding: 6px 20px;
    transition: .5s;
}
nav a:hover{
    color: aqua;
}

nav a span{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:-1;
    border-bottom:2px solid aqua;
    border-radius: 15px;
    transform:scale(0) translateY(50px);
    opacity:0;
    transition:.5s;
}
nav a:hover span
{
    transform: scale(1) translateY(0);
    opacity:1;
}
.LWL{
       display: flex;
    align-items: center;
    gap:75px;
    list-style: none;
}

nav h2{
    position: relative;
    font-size: 1.1em;
    font-weight: 500;
    color: #333;
    text-decoration: none;
    padding: 6px 20px;
    transition: .5s;
}
nav h2:hover{
    color: aqua;
}

nav h2 span{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:-1;
    border-bottom:2px solid aqua;
    border-radius: 15px;
    transform:scale(0) translateY(50px);
    opacity:0;
    transition:.5s;
}
nav h2:hover span
{
    transform: scale(1) translateY(0);
    opacity:1;
}
