body{
    background-color: black;
}
#parent{
    height: 100%;
    width: 100%;
    background-color: royalblue;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}

.child{
    height: 200px;
    width: 200px;
    background-color: crimson;
    border:2px solid white;
    background-image: url(https://images.unsplash.com/photo-1529626455594-4ff0802cfb7e?q=80&w=387&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;

}
#child2{
 background-image: url(https://images.unsplash.com/photo-1529626455594-4ff0802cfb7e?q=80&w=387&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);

}